/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../../../css/font/Hack400.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Hack", monospace;
  font-weight: 400;
  color: #222;
  background-color: white;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 4rem 0;
  text-align: center;
  font-weight: 500;
}

button {
  padding: 0.4em 0.8em;
  border: 1px #bbb solid;
  background-color: white;
  cursor: pointer;
  font-family: "Hack", monospace;
  font-size: 0.8rem;
  color: #bbb;
}

button:hover {
  background-color: #eee;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #ddd;
}

/* --------------------------------

Main Components

-------------------------------- */
#player {
  text-align: center;
  margin: 1em;
}

.play {
  transition: opacity, 1000ms;
}

#body-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0 0;
}

#main-container {
  text-align: center;
}

#poem-container {
  width: 150ch;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

.line {
  margin: 1em 0;
  display: flex;
  align-items: flex-start;
}

.word {
  display: inline-block;
  margin-right: 1ch;
  transition: text-shadow 1200ms ease-in-out, margin 2000ms ease-in;
}

.word--no-gap {
  margin-left: -1ch;
}

.word--no-no-gap {
  margin-left: 0;
}

.word--invisible {
  opacity: 0;
}

.word_shadow {
  text-shadow: 8px 8px 8px #999;
}