$text-color: #222;
$border-color: #bbb;
$button-bg-color: #eee;
$button-bg-color-darker: #ddd;
$bg-color: white;

$primary-font: monospace; //TODO: select font

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

body {
  font: {
    size: 1.6rem;
    family: $primary-font;
  }
  color: $text-color;
  background-color: $bg-color;
}

h1 {
  font: {
    size: 2.5rem;
  }
  line-height: 1.5;
  margin: 2rem 0 5rem 0;
  text-align: center;
}

button {
  padding: 0.4em 0.8em;
  border: 1px $border-color solid;
  background-color: $bg-color;
  font: {
    family: $primary-font;
    size: 0.99rem;
  }
  color: $border-color;

  &:hover {
    background-color: $button-bg-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $button-bg-color-darker;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

#player {
  text-align: center;
  margin: 2rem;
}

#poem-container {
  width: 150ch;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: felx-start;
}

.line {
  margin: 1em 0;

  display: flex;
  align-items: felx-start;

}

.word {
  display: inline-block;
  margin-right: 1ch;
  transition: text-shadow 1200ms ease-in-out;
}

.word_shadow {
  text-shadow: 8px 8px 8px #999;
}