$text-color: #222;
$border-color: #bbb;
$button-bg-color: #eee;
$button-bg-color-darker: #ddd;
$bg-color: white;

$primary-font: 'Monospace', monospace;

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 95%;
}

body {
  font: {
    size: 1rem;
    family: $primary-font;
    weight: 400;
  }
  color: $text-color;
  background-color: $bg-color;
  overflow: hidden;
}

h1 {
  font: {
    size: 2rem;
  }
  line-height: 1.5;
  margin: 4rem 0;
  text-align: center;
  font-weight: 500;
}

button {
  padding: 0.4em 0.8em;
  border: 1px $border-color solid;
  background-color: $bg-color;
  cursor: pointer;
  font: {
    family: $primary-font;
    size: 0.8rem;
  }
  color: $border-color;

  &:hover {
    background-color: $button-bg-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $button-bg-color-darker;
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding: 0 4em 4em 0;
  width: 100%;
  text-align: right;
  font-size: 0.85em;
  font-weight: 300;
  color: lighten($text-color, 20);
}

/* --------------------------------

Main Components

-------------------------------- */

#player {
  text-align: center;
  margin: 1em;
}

.play {
  transition: opacity, 1000ms;
}

#poem-container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 150ch;
  margin-left: -75ch;
  margin-top: -16em;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.line {
  margin: 1em 0;

  display: flex;
  align-items: flex-start;

}

.word {
  display: inline-block;
  margin-right: 1ch;
  transition: text-shadow 1200ms ease-in-out, margin 2000ms ease-in;

  &--no-gap {
    margin-left: -1ch;
  }

  &--no-no-gap {
    margin-left: 0;
  }

  &--invisible {
    opacity: 0;
  }
}

.word_shadow {
  text-shadow: 8px 8px 8px #999;
}